body {
  background-color: #222222;
}

.header {
  .header__title {
    font-family: "Cinzel_Decorative";
    font-size: 40px;
    text-align: center;
    color: white;
  }

  .header__description {
    font-size: 30px;
  }
} 